<%= form_for @product do |f| %>
<table class="margined">
<div>
    <tr><div>
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name, class: 'text_area' %></td>
    </div></tr>

    <tr><div>
        <td><%= f.label :price %></td>
        <td><%= f.text_field :price, class: 'text_area' %></td>
    </div></tr>

    <%= f.fields_for :images do |ff| %>
      <tr><div>
        <td><%= ff.label "Image URL" %></td>
        <td><%= ff.text_field :url, class: 'text_area' %></td>
      </div></tr>
    <% end %>

    <tr><div> 
      <td><%= f.label "Description" %></td>
      <td><%= f.text_area :description, class: 'description_area' %></td>
    </div></tr>

    <tr><div>
      <td> <%= f.label "Supplier" %> </td>
      <td class="form_dropdown"> <%= f.collection_select :supplier_id, Supplier.all, :id, :company_name %> </td>
    </div></tr>
   
    <tr><div><td>
      <%= f.submit "Submit" %>
    </div></td></tr>
</table>
<% end %>
