<%= form_for @product, do |f| %>
<table class="margined">
<div>
    <tr><div>
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name, class: 'text_area' %></td>
    </div></tr>

    <tr><div>
        <td><%= f.label :price %></td>
        <td><%= f.text_field :price, class: 'text_area' %></td>
    </div></tr>

    <%= form_for @product.images, do |ff| %>
      <tr><div>
        <td><%= ff.label "Image URL 1" %></td>
        <td><%= ff.text_field :url, class: 'text_area' %></td>
      </div></tr>
    <%= end %>

    <%= form_for @product.images, do |ff| %>
      <tr><div>
        <td><%= ff.label "Image URL 2" %></td>
        <td><%= ff.text_field :image, class: 'text_area' %></td>
      </div></tr>
    <%= end %>

    <tr><div>
      <td><%= 
      <td><%= f.label :description, class: 'description_area' %></td>
    </div></tr>

    <tr><div><td> 
      <%= f.collection_select, :id, Supplier.all, :id, :company_name, class: 'text_area' %>
    </td></div></tr>
   
    <tr><div><td>
      <%= f.submit "Submit" %>
    </div></td></tr>
</table>
<% end %>
