<h1 class="heading">Product Catalog</h1>
<!-- image-responsive -->
<% if @product_index_is_discounted %>
  <h2 class="heading"> Discounted Items </h2>
<% end %>

<% if @product_create_failed %>

  <div class="alert alert-danger" role="alert">Product could not be created - some info missing! </div>

<% end %>

<% @products_subset.each do |row| %>

<div class = "col-md-2">
  <table> 
  
    <% @number_of_columns.times do |index| %>

      <% @attrib_name = Product.column_names[index] %>
      <% @attrib_value = row.attributes.to_a[index][1] %>

      <tr>
        <% if @attirb_name == "name" %>
          <td class="left_aligned_product_info">
        <% else %>
          <td class="product_name" >
        <% end %>

        <% if ["id", "name","created_at","updated_at","supplier_id","in_stock","description"].exclude?(@attrib_name) %>
          <b>
            <%= "#{@attrib_name.capitalize}: " %>
          </b>
        <% end %>             

        <% if @attrib_name =="name" %> 
           <b> <%= link_to "#{@attrib_value}", "/products/#{row.id}" %> </b>

        <% elsif @attrib_name == "description" %>
          <%= "#{@attrib_value}" %>
        
        <% elsif @attrib_name =="price" %>
          <%= "#{number_to_currency(row.price, unit: '$', delimiter: ',')}" %>

        <% elsif ["id","created_at","updated_at","supplier_id","in_stock"].exclude?(@attrib_name)%>
          <%= "#{@attrib_value}" %>
        
        <% end %>

        </td>
      </tr>


      <% if @attrib_name == "name" %>

        <% @images=row.get_image_urls %>
        <tr>
          <td>
          <%= image_tag(  "#{@images.first}", class:"product_img") %>
          </td>
        </tr> 

      <% end %>

    <% end %>

    <%  if !row.in_stock  %>
      
      <tr class="item_note">
        <td> Out of stock!</td>
      </tr>

    <% end %>

  </table>
</div>  

<% end %>

<div class="button">
  
  <button type="button" onclick="window.location.href='/products/new'">Add New Item</button>

</div>

<div class="order_buttons">

  <b> Order by Price: </b>

  <div class="button">
      <button type="button">
      <%= link_to "Highest to Lowest", "/products/ordered_price_desc" %>
      </button>
  </div>

  <div class="button">
      <button type="button">
      <%= link_to "Lowest to Highest", "/products/ordered_price_asc" %>
      </button>
  </div>

</div>