<h2 class="heading">Product Catalog</h2>
<!-- image-responsive -->
<% if @product_index_is_discounted %>
  <h3 class="special_heading"> Discounted Items </h3>
<% end %>

<% if @product_create_failed %>

  <div class="alert alert-danger" role="alert">Product could not be created - some info missing! </div>

<% end %>

<% @products_subset.each do |row| %>

<div class = "col-md-2">
  <table> 
  
    <% @number_of_columns.times do |index| %>

      <% @attrib_name = Product.column_names[index] %>
      <% @attrib_value = row.attributes.to_a[index][1] %>

      <tr>
        <% if @attirb_name == "name" %>
          <td>
        <% else %>
          <td class="left_aligned_product_info">
        <% end %>

        <% if ["price"].include?(@attrib_name) %>
          <b>
            <%= "#{@attrib_name.capitalize}: " %>
          </b>
        <% end %>             

        <% if @attrib_name =="name" %> 
           <b> <%= link_to "#{@attrib_value}", "/products/#{row.id}", class: 'product_name' %> </b>

        <% elsif @attrib_name == "description" %>
          <%= "#{@attrib_value}" %>
        
        <% elsif @attrib_name == "price" %>
          <%= "#{number_to_currency(row.price, unit: '$', delimiter: ',')}" %>
        
        <% end %>

        </td>
      </tr>


      <% if @attrib_name == "name" %>

        <% @image=row.get_image_urls.first %>
        <tr>
          <td>
          <%= link_to image_tag(  "#{@image}", class: 'product_img'), "/products/#{row.id}"  %>
          </td>
        </tr> 

      <% end %>

    <% end %>

    <%  if !row.in_stock  %>
      
      <tr class="item_note">
        <td> Out of stock!</td>
      </tr>

    <% end %>

  </table>
</div>  

<% end %>

<div class="new_item_button">
  
  <button type="button">
    <%= link_to "Add New Item", "/products/new" %>
  </button>

</div>

<span class="sort_button_area">

  <div class="sort_by_price"> Order by Price: </div>

  <div class="button">
      <button type="button">
      <%= link_to "Highest to Lowest", "/products/ordered_price_desc" %>
      </button>
  </div>

  <div class="button">
      <button type="button">
      <%= link_to "Lowest to Highest", "/products/ordered_price_asc" %>
      </button>
  </div>

</span>