<%= form_tag '/products', method: :post do %>
<table class="margined">
<div>
    <tr>
      <div>
        <td>
          <%= label_tag "Name" %>
        </td>
        <td>
          <%= text_area_tag :name, "", class: 'text_area' %>
        </td>
      </div>
    </tr>

    <tr>  
      <div>
        <td>
          <%= label_tag "Price" %>
        </td>
        <td>
          <%= text_area_tag :price, "", class: 'text_area' %>
        </td>
      </div>
    </tr>

    <tr>
      <div>
        <td> 
          <%= label_tag "Image URL" %>
        </td>
        <td>
          <%= text_area_tag :image, "", class: 'text_area' %>
        </td>
      </div>
    </tr>

    <tr><div><td> 
      <%= f. :description, "", class: 'description_area' %>
        </td>
      </div>
    </tr>

    <tr><div><td> 
          <%= f.collection_select, :id, Supplier.all, :id, :company_name, class: 'text_area' %>
    </td></div></tr>

   
    <tr>
      <td>
        <div>
          <%= submit_tag "Submit" %>
        </div>
      </td>
    </tr>
</table>
<% end %>
