<% if @product_show_is_random %>
  <h2 class="heading"> Random pick! </h2>
<% end %>

<% if @product %>

  <div class = "col-md-2">
    <table> 

      <% Product.number_of_columns.times do |index| %>

        <% @attrib_name = Product.column_names[index] %>
        <% @attrib_value = @product.attributes.to_a[index][1] %>

        <tr>
          <% if @attrib_name == "name" %>
            <td class="product_name" >
          <% else %>
            <td class="left_aligned_product_info">
          <% end %>
        
          <% if ["price", "description"].include?(@attrib_name) %>
            <b>
              <%= "#{@attrib_name.capitalize}: " %>
            </b>
          <% elsif @attrib_name=="supplier_id" %>
            <b> Supplier: </b>
          <% end %>             

          <% if @attrib_name =="name" %> 
             <b> <%= "#{@attrib_value}" %> </b>

          <% elsif @attrib_name == "description" %>
            <br> <%= "#{@attrib_value}" %>
          
          <% elsif @attrib_name =="price" %>
            <%= "#{number_to_currency(@product.price, unit: '$', delimiter: ',')}" %>
          
          <% elsif @attrib_name == "supplier_id" %>
            <br> <%= "#{@product.supplier.company_name}" %>
          
          <% end %>

          </td>
        </tr>


        <% if @attrib_name == "name" %>
                  
          <% @images=@product.get_image_urls %>
          
          <% @images.each do |url| %>
            <tr>
              <td>
              <%= image_tag(  "#{url}", class:"product_img") %>
              </td>
            </tr>
          <% end %>

        <% end %>

      <% end %>

      <tr>
        <td><br></td>
      </tr>

      <tr>
        <td class="item_tax">
          <b>Tax:</b>
              <%= "#{number_to_currency(@product.item_tax, unit: '$', delimiter: ',')}"%>
        </td>
      </tr>

      <tr>
        <td class="price_after_tax">
          <b>Full Price:</b>
            <%= "#{number_to_currency(@product.price+@product.item_tax, unit: '$', delimiter: ',')}"%>
        </td>
      </tr>     

      <% if @product.sale_message && @product.sale_message!="" %>
        <tr>
          <td class="item_note"> 
            <%= @product.sale_message %>
          </td>
        </tr>
      <% end %>

      <% if !@product.in_stock %>
        <tr>
          <td class="item_note"> 
            <%= "Out of stock!" %> 
          </td>
        <tr>
      <% end %>

    </table>

  </div>  

  <div class="col-md-2" >
    <table class = "item_extras">
      <tr>
        <td>
          <div class="button">
            
            <button type="button">
              <%= link_to "Delete", "/products/#{@product.id}", method: :delete %>
            </button>

          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="button">
    
            <button type="button">
              <%= link_to "Back to Catalog", "/products" %>
            </button>

          </div>
        </td>
      </tr>
   
      <tr>
        <td>
          <div class="button">
          
            <button type="button">
              <%= link_to "Edit Product Info", "/products/#{@id}/edit" %>
            </button>

          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="item_update_time_note"> 
            
            <b>Last updated:</b>
            <br><%= @product.friendly_update_time %>
          
          </div>
        </td>
      </tr>
    </table>
    <div>
      <%= form_tag({controller: 'carted_products', action: 'create'}, method: 'post') do %>
          <div class="quantity_field" >
            <%= label_tag "Quantity"%>
            <%= text_area_tag :carted_quantity, "1", class: 'quantity_text_area'%> 
          </div>
            <%= hidden_field_tag :product_id, @id %>
            <%= submit_tag "Add to Cart" %>
      <% end %>
    </div>
  </div>

<% end %>
