<% if @product_show_is_random %>
  <h1 class="heading"> Random pick! </h1>
<% end %>

<%if @product_id_exists %>

  <div class = "col-md-2">

    <table> 

      <% @number_of_columns.times do |index| %>

        <% @attrib_name = Product.column_names[index] %>
        <% @attrib_value = @product.attributes.to_a[index][1] %>

        <tr>
          <% if @attrib_name == "name" %>
            <td class="product_name" >
          <% else %>
            <td class="left_aligned_product_info">
          <% end %>
        
          <% if ["id", "name","created_at","updated_at","supplier_id", "in_stock"].exclude?(@attrib_name) %>
            <b>
              <%= "#{@attrib_name.capitalize}: " %>
            </b>
          <% elsif @attrib_name=="supplier_id" %>
            <b> Supplier: </b>
          <% end %>             

          <% if @attrib_name =="name" %> 
             <b> <%= "#{@attrib_value}" %> </b>

          <% elsif @attrib_name == "description" %>
            <br> <%= "#{@attrib_value}" %>
          
          <% elsif @attrib_name =="price" %>
            <%= "#{number_to_currency(@product.price, unit: '$', delimiter: ',')}" %>
          
          <% elsif @attrib_name == "supplier_id" %>
            <br> <%= "#{@supplier_name}" %>

          <% elsif ["id","created_at","updated_at","supplier_id","in_stock"].exclude?(@attrib_name)%>
            <%= "#{@attrib_value}" %>
          
          <% end %>

          </td>
        </tr>


        <% if @attrib_name == "name" %>
                  
          <% @images=@product.get_image_urls %>
          
          <% @images.each do |url| %>
            <tr>
              <td>
              <%= image_tag(  "#{url}", class:"product_img") %>
              </td>
            </tr>
          <% end %>

        <% end %>


      <% end %>

      <tr>
        <td class="item_update_time_note"> 
          <b>Last updated:</b>
          <br><%=@product.friendly_update_time%>
        </td>
      </tr>

      <tr>
        <td class="item_tax">
          <b>Tax:</b>
            <% if @product.item_tax %>
              <%= "#{number_to_currency(@product.item_tax, unit: '$', delimiter: ',')}"%>
            <% end %>
        </td>
      </tr>

      <tr>
        <td class="price_after_tax">
          <b>Full Price:</b>
          <% if @product.price %>
            <%= "#{number_to_currency(@product.price+@product.item_tax, unit: '$', delimiter: ',')}"%>
          <% end %>
        </td>
      </tr>     

      <% if @product.sale_message && @product.sale_message!="" %>
        <tr>
          <td class="item_note"> 
            <%= @product.sale_message %>
          </td>
        </tr>
      <% end %>

      <% if !@product.in_stock %>
        <tr>
          <td class="item_note"> 
            <%= "Out of stock!" %> 
          </td>
        <tr>
      <% end %>

    </table>

  </div>  

  <div class="button">
    
    <button type="button">
    <%= link_to "Delete", "/products/#{@id}", method: :delete %>
    </button>

  </div>

  <div class="button">
  
     <button type="button">
    <%= link_to "Back to Product List", "/products" %>
    </button>

  </div>

  <div class="button">
  
     <button type="button">
    <%= link_to "Edit Product Info", "/products/#{@id}/edit" %>
    </button>

  </div>

<% else %>

  <div class="alert alert-danger" role="alert">Product id <%= @id %> doesn't exist</div>

<% end %>
