<h2> Supplier Information </h2>
<br>
<div>
  Company Name: <%= @supplier.company_name %>
</div>
<br>
<p> Contact Info: </p>
<div>
  First Name: <%= @supplier.first_name %>
</div>  
<div>
  Last Name: <%= @supplier.last_name %>
</div>
<div>
  Email: <%= @supplier.email %>
</div>
<div>
  Phone: <%= @supplier.phone %>
</div>
